/* importing font-family style */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kablammo&family=Merriweather:wght@300&family=Roboto&family=Rubik+Puddles&family=Space+Grotesk:wght@500&family=Teko:wght@300&family=Tilt+Prism&display=swap');

/* css for About page */
#About{
    font-size: 22px;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-color: aqua;
}
#About h2{
    text-align: center;
    padding-top: 25px;
    color: #000084;
    font-size: 37px;
    font-family: 'Tilt Prism', cursive;
}
.content ul{
    margin-left: 60px;
    margin-top: 25px;
}
.formulas{
    /* width: 500px; */
    margin-left: 30px;
}
.fls{
    list-style: none;
}
.formulas ol li{
    margin: 18px 0px;
}